*{
    margin: 0px;
    padding: 0px;
    background-color: rgba(104, 89, 97, 0.8);
}

.container {

    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 100vh;
    gap: 50px;
}

.divs {
    border: 1px solid white;
    height: 100px;
    width: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;    
    color:white;
}
h1 {
    color: white;
}
p{
    font-weight: bold;
}

small{
    position: absolute;
    top: -24px;
}